__pycache__/
*.pyc
.pytest_cache/
build/
.eggs/
.coverage
.coverage.*
.venv/
abstract_cot/outputs/
abstract_cot/.mutagen/
abstract_cot/data/
abstract_cot/models/
abstract_cot/datasets/
abstract_cot/server_assets/
abstract_cot/build/
abstract_cot/src/*.egg-info/
mutagen.yml
mutagen.yml.lock
.vscode